<div class="row mt-5">
    <div class="col-3 mt-3">
        <input type="text" [(ngModel)]="newHero.name" class="form-control"  placeholder="name">
    </div>
    <div class="col-3 mt-3">
        <input type="number"   [(ngModel)]="newHero.power"  class="form-control"  placeholder="power">
    </div>
    <div class="col-3 mt-3">
        <input type="text"   [(ngModel)]="newHero.image"  class="form-control"  placeholder="image">
    </div>
    <div class="col-3 mt-3">
        <input type="button" (click)="ModifierHero()" class="btn btn-warning"  value="Modifier">
    </div>

</div>