

<app-navbar1></app-navbar1>

<router-outlet></router-outlet>


<!-- <app-navbar1></app-navbar1>
<h1>content missing </h1>
<app-footer></app-footer>

<div [ngStyle]="{'backgroundColor': isActive ? 'green' : 'red' ,'color':'white'}">
    <h1> titre 1 </h1>
</div>

<div [ngClass]="{'active':isActive , 'highlight':isHighlight}">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum nulla quas, sequi odit sed consequatur quam dolore nisi voluptate quod quasi atque optio eius repellat eos nemo? Nam ratione rem corporis enim amet sapiente ullam nesciunt vero, voluptas nemo ipsa maxime quaerat porro sunt blanditiis veritatis a eligendi! Dicta minus modi perspiciatis saepe, et nam suscipit, odit libero voluptates quo, fugiat inventore cupiditate fugit laudantium. Deleniti corporis, suscipit deserunt totam fuga distinctio in neque numquam, optio quidem aliquam nam, provident ipsam laudantium commodi harum eveniet sunt quibusdam placeat obcaecati molestiae asperiores nostrum veniam. Dolor, qui! Sed obcaecati repudiandae excepturi ratione?</p>
</div> -->
