<div class="row">
<div *ngFor="let hero of heros" class="card mt-5" style="width:18rem;margin-left:10px;">
    <img width="200px" height="250px" [src]="'http://127.0.0.1:3000/getimage/'+hero.image" class="card-img-top" alt="hero">
    <div class="card-body">
      <h5 class="card-title">{{hero.name}}</h5>
      <p class="card-text">{{hero.power}}</p>
     
    </div>
    <div class="btns">
      <button (click)="DeleteHero(hero._id)" class="btn btn-danger">Supprimer</button>
       <button [routerLink]="[ '/update' , hero._id]" class="btn btn-success">Modifier</button>
    </div>
</div>
</div>